<footer class="footer" id="footer">
  <div class="footer__bg">
    <div class="footer__container">
      <div class="footer__title">
        <h1>HAN Fiden</h1>
        <span>Developper Full-Stack Ruby on Rails</span>
        <br>
      <% if user_signed_in? %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: 'sign-in-link' %>
      <% else %>
        <%= link_to "Only for admin", new_user_session_path, class: 'sign-in-link' %>
      <% end %>
      </div>


      <div class="footer__source">
        <a href="https://hanfiden.github.io/hanfiden/" target="_blank">My Portfolio</a>
        <a href="https://codepen.io/Aoyue/pen/pLJqgE" target="_blank">Flip card</a>
        <a href="https://codepen.io/mandymichael/pen/PaBraK" target="_blank">Title Animation</a>
        <a href="https://support.google.com/websearch/answer/29508?hl=en&co=GENIE.Platform%3DAndroid" target="_blank">Commercial or other licenses Images</a>
      </div>
    </div>

    <p class="footer__copy">
      <br>Copyright &#169; 2021 HAN Fiden. All right reserved
    </p>
  </div>
</footer>
