<footer class="footer" id="footer">
  <div class="footer__bg">
    <div class="footer__container">
      <div class="footer__title">
        <h1>HAN Fiden</h1>
        <span>Developper Full-Stack Ruby on Rails</span>
      </div>
      <br>
      <div class="footer__source">
        <a href="https://hanfiden.github.io/hanfiden/" target="_blank">My Portfolio</a>
        <a href="https://codepen.io/Aoyue/pen/pLJqgE" target="_blank">Flip card</a>
      </div>
    </div>

    <p class="footer__copy">
      <br>Copyright &#169; 2021 HAN Fiden. All right reserved
    </p>
  </div>
</footer>
