<header class="header">
  <div class="words word-1">
  <span>W</span>
  <span>E</span>
  <span>B</span>
  </div>

  <div class="words word-2">
    <span>G</span>
    <span>L</span>
    <span>O</span>
    <span>S</span>
    <span>S</span>
    <span>A</span>
    <span>R</span>
    <span>Y</span>
  </div>

  <div class='scroll-toForm' onclick="scrollWin()">
    <p>Get started</p>
    <i class="fas fa-arrow-down"></i>
  </div>
</header>
