<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div data-controller="refresh-list">
        <%= form_with url: keywords_path, method: :get, html: { class: 'mb-5 stick-bar', data: { refresh_list_target: 'form' }, autocomplete: "off" } do |f| %>
          <% if user_signed_in? %>
            <%= link_to new_keyword_path, method: :get, class: 'mr-2' do%>
              <i class="fas fa-plus fa-lg"></i>
            <% end %>
          <% end %>
          <%= f.text_field :query,
                           class: "keyword-form",
                           placeholder: 'Type a keyword',
                           value: params[:query],
                           autocomplete: "off",
                           data: {
                            refresh_list_target: 'searchInput',
                            action: "keyup->refresh-list#update"
                          } %>
        <% end %>
        <%= render 'list', keywords: @keywords %>
      </div>
    </div>
  </div>
</div>

<%# ############SCROLL UP################# %>

<a href="#" class="scrollup" id="scroll-up">
  <i class="fas fa-arrow-up scrollup__icon"></i>
</a>

<a href="#footer" class="scroll-down" id="scroll-down">
  <i class="fas fa-arrow-up scrolldown__icon"></i>
</a>
