@import "bootstrap/scss/bootstrap";
@import "keywords";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import "font-awesome-sprockets";
@import "font-awesome";

* {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  color: #555;
  background: #222;
  text-align: center;
  font-family: 'Roboto Mono';
  padding: 1em;
}

h1 {
  font-size: 2.2em;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
